[Unit]
Description=System Starting on OLED Display

[Service]
EnvironmentFile=/etc/sys-oled.conf
ExecStart=/usr/bin/python /usr/local/bin/sys-oled --display ${DISPLAY}

[Install]
WantedBy=multi-user.target
